<!DOCTYPE html>
<html>

<head>
  <title>Zatakub - Mỹ phẩm tóc chính hãng, chuyên nghiệp</title>
  <meta name="keywords"
    content="Mỹ phẩm tóc,my pham toc zatakub, zatakub, my pham zatakub, toc zatakub,zata dung cu lam dep,My pham toc hang hieu,keo cat toc,my pham toc cao cap,my pham toc chinh hang,My pham toc nhap khau">
  <meta charset="utf-8">
  <meta name="description" content="Zatakub là website chuyên cung cấp các  Mỹ phẩm tóc, Dụng cụ làm đẹp chính hãng, chuyên nghiệp của các thương hiệu nổi tiếng như:
    Nouvelle, Berdywins, Arganmidas, CHI, MilBon, Wella, GoldWell, Obsidian, Prosee...">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">

  <meta name="viewport"
    content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">



  <link rel="icon" type="image/png" href="/img/icon/logow.png">
  <link rel="canonical" href="<%= htmlWebpackPlugin.options.meta.canonical %>" />

</head>

<body>
  <!-- DO NOT touch the following DIV -->
  <div id="q-app"></div>
</body>

</html>
