<!DOCTYPE html>
<html>

<head>
  <title>Zatakub - Mỹ phẩm tóc chính hãng, chuyên nghiệp</title>
  <meta name="keywords"
    content="Mỹ phẩm tóc,my pham toc zatakub, zatakub, my pham zatakub, toc zatakub,zata dung cu lam dep,My pham toc hang hieu,keo cat toc,my pham toc cao cap,my pham toc chinh hang,My pham toc nhap khau">
  <meta charset="utf-8">
  <meta name="description" content="Zatakub là website chuyên cung cấp các  Mỹ phẩm tóc, Dụng cụ làm đẹp chính hãng, chuyên nghiệp của các thương hiệu nổi tiếng như:
    Nouvelle, Berdywins, Arganmidas, CHI, MilBon, Wella, GoldWell, Obsidian, Prosee...">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">

  <meta name="viewport"
    content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">




  <!-- Google / Search Engine Tags -->
  <meta itemprop="name" content="Zatakub - Mỹ phẩm tóc chính hãng, chuyên nghiệp">
  <meta itemprop="description"
    content="Zatakub là website chuyên cung cấp các  Mỹ phẩm tóc, Dụng cụ làm đẹp chính hãng, chuyên nghiệp của các thương hiệu nổi tiếng như:
    Nouvelle, Berdywins, Arganmidas, CHI, MilBon, Wella, GoldWell, Obsidian, Prosee...">
  <meta itemprop="image" content="https://zatakub.com/img/icon/logo2.png">
  <!-- Facebook Meta Tags -->
  <!-- <meta property="og:url" content="https://zatakub.com/>

  <meta property="og:type" content="website">
  <meta property="og:title" content="Zatakub - Mỹ phẩm tóc chính hãng, chuyên nghiệp">
  <meta property="og:description"
    content="Zatakub là website chuyên cung cấp các  Mỹ phẩm tóc, Dụng cụ làm đẹp chính hãng, chuyên nghiệp của các thương hiệu nổi tiếng như:
    Nouvelle, Berdywins, Arganmidas, CHI, MilBon, Wella, GoldWell, Obsidian, Prosee...">
  <meta property="og:image" content="https://zatakub.com/img/icon/logo2.png">
  <meta property="og:image:secure_url" content="https://zatakub.com/img/icon/logo2.png">
  <meta property="og:image:alt" content="Zatakub - Mỹ phẩm tóc chính hãng, chuyên nghiệp">
  <meta property="og:image:width" content="764" />
  <meta property="og:image:height" content="230" /> -->

      <!-- Twitter Meta Tags -->
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:title" content="Zatakub - Mỹ phẩm tóc chính hãng, chuyên nghiệp">
      <meta name="twitter:description" content="Zatakub là website chuyên cung cấp các  Mỹ phẩm tóc, Dụng cụ làm đẹp chính hãng, chuyên nghiệp của các thương hiệu nổi tiếng như:
      Nouvelle, Berdywins, Arganmidas, CHI, MilBon, Wella, GoldWell, Obsidian, Prosee...">
      <meta name="twitter:image" content="https://zatakub.com/img/icon/logo2.png">
      <meta name="DC.title" content="Zatakub - Mỹ phẩm tóc chính hãng, chuyên nghiệp" />
      <meta name="geo.region" content="VN" />
      <meta name="geo.placename" content="Ho Chi Minh" />
      <meta name="geo.position" content="10.865867528746953, 106.68103094671595" />
      <meta name="ICBM" content="10.865867528746953, 106.68103094671595" />


      <link rel="canonical" href="https://zatakub.com/" />



  <link rel="icon" type="image/png" href="/img/icon/logow.png">
  <link rel="canonical" href="<%= htmlWebpackPlugin.options.meta.canonical %>" />

</head>

<body>
  <!-- DO NOT touch the following DIV -->
  <div id="q-app"></div>
</body>



</html>


<script type="application/ld+json">

  {
    "@context": "http://schema.org",


    "@type": "Professionalservice",
    "@id":"https://zatakub.com/",
    "url": "https://zatakub.com/",

    "priceRange":"20$-1000$",
    "hasMap": "https://www.google.com/maps/place/Zatakub/@10.8659018,106.6799742,18z/data=!4m5!3m4!1s0x317529d7efef3e63:0x8fcf3bcaf821dba7!8m2!3d10.8658313!4d106.6810429",

    "email": "Myphamtocchinhhangzatakubdvo@gmail.com",
    "founder": "WXR",
    "address": {
    "@type": "PostalAddress",
    "addressLocality": "Quận 12",
    "addressCountry": "VIỆT NAM",
    "addressRegion": "Hồ Chí Minh",
    "postalCode": "700000",
    "streetAddress": "10 đường TL19, tổ 14, KP3B, Đường TL 19, P, Quận 12, Thành phố Hồ Chí Minh 700000, Việt Nam"
    },


    "telephone": "0389059923",
    "openingHoursSpecification": [
    {
    "@type": "OpeningHoursSpecification",
    "dayOfWeek": [
    "Monday",
    "Tuesday",
    "Wednesday",
    "Thursday",
    "Friday",
    "Saturday",
    "Sunday"
    ],
    "opens": "08:00",
    "closes": "20:00"
    }

    ],

    "name": "Zatakub - Mỹ phẩm tóc chính hãng, chuyên nghiệp",
    "description": "Zatakub là website chuyên cung cấp các  Mỹ phẩm tóc, Dụng cụ làm đẹp chính hãng, chuyên nghiệp của các thương hiệu nổi tiếng như:
    Nouvelle, Berdywins, Arganmidas, CHI, MilBon, Wella, GoldWell, Obsidian, Prosee...",
    "image": "https://zatakub.com/img/icon/logo2.png",
    "author": {
      "@type": "Person",
      "name": "Zatakub"
    },
    "datePublished": "2023-01-28",
    "publisher": {
      "@type": "Organization",
      "name": "Zatakub",
      "logo": {
        "@type": "ImageObject",
        "url": "https://zatakub.com/img/icon/logo2.png"
      }
    },
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "https://zatakub.com/"
    },

    "geo": {
      "@type": "GeoCoordinates",
      "latitude": "10.865856992266204",
      "longitude": "106.68105776880392"
      }

  }
</script>


<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'G-GSV128B86V', 'auto');
  ga('send', 'pageview');
</script>
